/* CSS Document */


.tabContent{
	
	padding:15px 0px 0px 15px;
	
}
.tableInfo{
	background-color:#fff;
	display:block;
	width:99%;
	
	
}
.tableStyle{
	width:100%;
	margin:0 auto;
	text-align:center;
	display:block;

}

 



